.header-library {
  background: url('../images/library-mobile.jpg');
  @include bg;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  @include retina {
    background: url ('../images/library-mobile@2x.jpg');
  }

  @include tablet {
    background: url('../images/library-tablet.jpg');
    @include bg;
    @include retina {
      background: url('../images/library-tablet@2x.jpg');
    }
  }
  @include pc {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/library-pc.jpg');
    @include bg;

    @include retina {
      background: url('../images/library-pc@2x.jpg');
    }
  }
}

.library-search {
  margin-top: 15px;
  @include flex;
  gap: 20px;
  @include tablet {
    margin-top: 30px;
  }
  @include pc {
    margin-top: 50px;
  }
}
// .header-wrapper {
//   display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     gap: 20px;
//     flex-wrap: wrap;

//     @include tablet {
//       flex-direction: row;
//       justify-content: space-between;
//       gap: 50px;
//     }
// }
// #header-useremail-div {
//   @include font-box(500, 13px, 1.1, null);
//   color: var(--white-text-color);
//   @include flex;
// }
.nothing-text {
  margin-left: auto;
  margin-right: auto;
  @include font-box(500, 18px, 1.33, null);
  text-align: center;
  margin-bottom: 0;
  display: block;
  // margin-top: 10px;
  @include tablet {
    @include font-box(500, 24px, 1.33, null);
  }
  @include pc {
    margin-top: 20px;
  }
}

.nothing-here {
  margin: 0;
  padding: 0;
  // padding-bottom: 20px;
  display: flex;
  color: inherit;
  fill: currentColor;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &-svg {
    width: 280px;
    height: 200px;
    @include tablet {
      width: 500px;
      height: 300px;
    }
    @include pc {
      width: 750px;
      height: 500px;
    }
  }
}
